/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : May 23, 2025
    Author     : malik
*/
html {
    text-align: center;
    font-family:Georgia, 'Times New Roman', Times, serif;
    background-color: #ffffff;
}

body {
    overflow-x: hidden;
}

nav {
    background-color: #f5f3f5;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    padding-top: 15px;
    padding-left: 20px;
    justify-content: space-between;
}

nav img {
    width: 100px;
    height: auto;
}

nav a {
    color: #000;
    text-decoration: none;
}

ul{
    list-style: none;
}

nav li {
    margin: 0px 30px;
}

.links {
    display: flex;
    align-items: center;
    padding-bottom: 20px;
}

.links li:hover {
    text-decoration: underline;
    transform: scale(1.1);
}

.socialmedia img {
    width: 30px;
    height: auto;
    padding-right: 8px;
    position: relative;
    z-index: 10;
}

section {
    width: 100%;
    margin: 100px auto;
}

.start {
    position: relative;
    top: 10px;
}

.start img{
    margin-top: 80px;
    width: 600px;
    height: fit-content;
    border-radius: 20px;
    transition: transform 0.2s ease;
}

.start img:hover {
    transform: scale(1.1);
}

.start .maintext {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 100px;
    color: #000000;
    font-weight: bold;
    font-size: 50px;
    text-shadow: 2px 2px 5px #ffffff;
}

.start .secondtext {
    position: absolute;
    top: 86%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 100px;
    transform: translate(-50%,-50%);
    font-weight: bold;
    text-shadow: 2px 2px 5px #ffffff;
}

.start .thirdtext {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 100px;
    transform: translate(-50%,-50%);
    font-weight: bold;
    text-shadow: 2px 2px 5px #ffffff;
}

.box {
    padding: 10px;
}

.box h2{
    float: left;
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 20px;
    border-left: 3px solid #000000;
    border-right: 3px solid #000000;
}

.box p {
    text-align: end;
    padding-top: 15px;
    font-style: italic;
    
}